<ion-view view-title="Relatório" cache-view="false" ng-cloak>
  <ion-content ng-controller="RelatorioController" >
    <div class="card"  flex layout-padding layout-margin>
      <div layout="row" layout-align="start center">
        <strong>Gastos por Categoria</strong>
        <md-button class="md-icon-button" aria-label="Grafico em Linha" ng-click="graficoEmLinha()">
          <md-icon md-svg-icon="./img/icon/ic_grafico_linha.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Grafico em Barra" ng-click="graficoEmBarra()">
          <md-icon md-svg-icon="./img/icon/ic_grafico_barra.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Grafico em Pizza" ng-click="graficoEmPizza()">
          <md-icon md-svg-icon="./img/icon/ic_grafico_pizza.svg"></md-icon>
        </md-button>
      </div>
      <div>
        <canvas id="relatorio"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>

