<ion-view view-title="Movimentação" ng-cloak>
  <ion-content ng-controller="CategoriaController">
    <div layout="column" layout-padding>
      <md-input-container >
        <label>Descricao</label>
        <input ng-model="categoria.descricao" required>
        <div ng-show="requerido && form.nome.$invalid " ng-message="required">Campo  Obrigatorio.</div>
      </md-input-container>

      <md-button class="md-primary md-raised" ng-click="salvar()"> Salvar</md-button>
    </div>
  </ion-content>
</ion-view>
