<ion-view view-title="Categorias" cache-view="false" ng-cloak>
  <ion-nav-buttons side="right" layout-align="center">
    <a class="button button-icon icon ion-ios-plus-empty" ng-click="adicionar()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="ion-item" ng-repeat="categoria in categorias | orderBy:'descricao'" layout="row" on-hold="excluir(categoria.id,$event)" layout-margin>
        <span flex on-tap="editar(categoria)" ></span>
        <div layout="column"  layout-margin layout-align="center center" on-tap="editar(categoria)" >
          <strong>{{categoria.descricao}}</strong>
          <h4>{{categoria.valorMaximo |  currency : R$}}</h4>
        </div>
        <span flex on-tap="editar(categoria)" ></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
