<ion-view view-title="Categorias" cache-view="false" ng-cloak>
  <ion-nav-buttons side="right" layout-align="center">
    <a class="button button-icon icon ion-ios-plus-empty" ng-click="adicionar()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="categoria in categorias" layout="row">
        <span flex="10" ng-click="editar(categoria)" ></span>
        <span flex ng-click="editar(categoria)" ></span>
        <div layout="row" layout-align="center center" ng-click="editar(categoria)" >
          <h3>{{categoria.descricao}}</h3>
        </div>
        <span flex ng-click="editar(categoria)" ></span>
        <md-button class="md-icon-button" aria-label="Excluir" layout-align="center center">
          <md-icon class="ion-ios-trash" ng-click="excluir(categoria.id,$event)"></md-icon>
        </md-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
