::-webkit-scrollbar{
  /*width:0px;*/
}

.despesa{
  color: #F08080 ;
  font-weight: bold;
}

.receita{
  color: #3CB371;
  font-weight: bold;
}

.saldo{
  color:#1E90FF;
  font-weight: bold;
}

.ion-item {
  border-radius: 5px;
}

.ion-item > div > div > h4 {
  font-weight: bold;
  font-family: Roboto;
  font-size: 12px;
  color: #404a50;
}


md-card{
  border-radius: 5px;
}

.conteudo{
}

strong{
  font-family: Roboto;
  font-size: 14px;
  color: #404a50;

}

.IconeNaBarraDeTitulo{
  whith: 10px;
  margin-top: 5%;
  icon: url("../img/dinheiro.png");
}

.bar.bar-stable {
  border-color: #404a50 !important;
  background-color: #2dbdac !important;
  background-image: linear-gradient(0deg, #2dbdac, #2dbdac 50%, transparent 50%) !important;
  color: #444 !important;}
.bar.bar-stable .title {
  color: #ffffff !important; }
.bar.bar-stable.bar-footer {
  background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%)!important; }


.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  width: 275px;
  background-color: #404a50; !important;}
.menu .scroll-content {
  z-index: 10; }
.menu .bar-header {
  z-index: 11; }

.item-content{
  background-color: #404a50 !important;
  border-color: #ffffff !important;

}

.item-divider{
  background-color: transparent !important;
}

.icone-branco{
  color: #ffffff;
}

.menu-texto{
  color: #ffffff;
}

.button-icon{
  color: #ffffff !important;
}

.botao {
  color: #ffffff !important;
}

.valor input:not(:focus){
  color:rgba(0,0,0,0.87) !important;
  border-color: rgba(0,0,0,0.12) !important;
}


#movimentacaoForm  .md-input-container{
  padding-bottom: -200px !important;
}
